[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.3"
requests = "*"
requests-toolbelt = "*"
boto3 = "*"
dropbox = "*"
boxsdk = "*"
pandas = "*"
clint = "*"

[dev-packages]
pytest = "*"
mypy = "*"
ipdb = "*"
pylint = "*"
boto3-stubs = "*"
data-science-types = "*"

[requires]
python_version = "3.8"
